:host {
    flex: 1;
    display: flex;
}

.work-area-container{
    header, main, footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header, main, footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main{
        flex: 2;
        margin: 10px;

        div{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }
    }

    header, footer{
        flex: 1;
        margin: 10px;
    }
}

input{
    max-width: 350px;
    width: 100%;
    border: 1px solid #B6C9CB;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 0 5px grey;
}

button.login-button{
    font-size: 20px;
    padding: 15px;
    width: 100%;
    max-width: 350px;
    border: 2px solid #B6C9CB;
    border-radius: 7px;
    box-shadow: 0 0 5px grey;
}

.login-button{
    margin-top: 20px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
}