<div class="outer-shell">
    <div class="inner-shell">
        <header>
           <app-logo></app-logo>
        </header>
        <main>
            <div>
                <input type="tel" placeholder="phone no">
            </div>
            <div>
                <input type="password" placeholder="password">
            </div>
            <div>
                <a href="javascript:void(0);" class="login-button">login</a>
            </div>
        </main>
        <footer>
            <span>Sign up <a href="javascript:void(0);">here</a></span>
        </footer>
    </div>
</div>