<div class="work-area-container">
    <div class="work-area">
        <main>
            <div>
                <app-logo></app-logo>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <input type="tel" formControlName="phNo" placeholder="phone no" [ngClass]="{'error' : phNo.invalid && (phNo.dirty || phNo.touched)}">
                </div>
                <div>
                    <input type="password" formControlName="password" placeholder="password" [ngClass]="{'error' : password.invalid && (password.dirty || password.touched)}">
                </div>
                <div>
                    <button type="submit" class="login-button">login</button>
                </div>
            </form>
        </main>
        <footer>
            <span>New User? Sign up <a [routerLink]="['/register']">here</a></span>
        </footer>
    </div>
</div>